.list-grid-container {
  .lists-grid {
      .search-filters-text {
          text-align: center;
          padding: 20px;
          border: 1px solid #DDDDDD;
          border-top: none;
          color: #ADADAD;
          position: relative;
          top: -1px;
      }
  }
}

.grid-info-text {
  margin-bottom: 0;
}

.pointer-hand {
  border: 1px solid #000000
}
.icon-settings {
    border: 1px solid #000000
}
.primary-table {
  table-layout: fixed;
  margin-top: 15px;

  .w-250px {
      width: 250px;
  }

  .col-action {
      * {
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
      }

      a {
          margin-right: 30px;
          text-decoration: underline;
      }

      .snooze-link {
          margin-right: 0px;
      }
      
      .mask {
          visibility: hidden;
      }
  }
  .panel {
      padding: 20px;
      margin-bottom: 5px;

      .primary-table {
          margin: 0;
      }
  }
}
.template-info {
  max-height: 0;
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #FFFFFF;
  border-radius: 2px;
  transition: max-height 333ms, margin 333ms;
  overflow: hidden;
  table {
      width: 100%;
      thead {
          tr {
              th {
                  border: none;
              }
              border: none;
              border-bottom: 1px solid #DDDDDD;
          }
      }
      tbody {
          tr {
              border: none;
              td {
                  padding: 10px 15px!important;
                  font-size: 14px;
              }
          }
      }
  }
  .template-info-item {
      padding: 5px 40px;
  }
}

.expandable {
  td {
      padding: 0 !important;
  }
}

.template-loader {
  padding: 20px;
  border: 1px solid #DDDDDD;
  text-align: center;
}

.expanded {
  background-color: #f5f5f5;
  .template-info {
      max-height: 1000px;
      border: 1px solid #FFFFFF;
      padding: 10px;
      margin: 10px;
      overflow: auto;
  }
}
.clickable {
    cursor: pointer;
}
.icon-settings {
    padding: 10px;
    align-content: right;
}
